certifi==2023.7.22
charset-normalizer==3.2.0
databricks-connect==13.3.0
databricks-sdk==0.8.0
googleapis-common-protos==1.60.0
grpcio==1.58.0
grpcio-status==1.58.0
idna==3.4
numpy==1.26.0
pandas==2.1.0
protobuf==4.24.3
py4j==0.10.9.7
pyarrow==13.0.0
pyspark==3.4.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
sqlglot
tzdata==2023.3
urllib3==2.0.4
